@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Fira+Sans+Extra+Condensed&display=swap');

:root {
  --background: #0d1117;
  --background-light: #2b3440;
  --background-selected: teal;
  --background-selected-hover: rgb(0, 78, 78);
  --color: #fff;
  --color-contrasted: #fff;
  --outline: #ececec;
}

body {
  min-height: 100vh;
  background-image: url(/assets/images/86-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: var(--color);
  font-family: 'Fira Sans Extra Condensed', sans-serif;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

h1 {
  font-family: 'Archivo Black', sans-serif;
  font-weight: unset;
}

a {
  color: var(--color);
  font-size: bold;
}

input {
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  box-sizing: border-box;
}

img {
  max-width: 80%;
  display: block;
  margin: 1rem auto;
}

main {
  display: block;
  margin: 2rem auto;
  padding: 2rem 1rem;
  max-width: 600px;
  background: var(--background);
}

.welcome-message {
  text-transform: capitalize;
}

.error-message {
  display: none;
  margin: 2rem 1rem 1.5rem;
  padding: 1.5rem;
  background: crimson;
  font-size: 1.25rem;
  color: #fff;
}

fieldset {
  border: none;
}

.answer {
  margin-bottom: 1rem;
}

.answer label {
  position: relative;
  display: block;
  border-radius: 5px;
  padding: 2rem 2rem;
  padding-left: calc(2rem + 30px);
  background: var(--background-light);
  font-size: 1.25rem;
  text-align: left;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.answer label:after,
.answer label:before {
  content: '';
  position: absolute;
  left: 30px;
  top: 50%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.answer label:after {
  background: var(--color-contrasted);
  border: 1px solid var(--background-selected);
}

.answer label:before {
  background: transparent;
  transition: 0.1s width cubic-bezier(0.075, 0.82, 0.165, 1) 0s,
    0.3s height cubic-bezier(0.075, 0.82, 0.165, 2) 0.1s;
  z-index: 2;
  overflow: hidden;
  width: 0;
  height: 0;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNS4zIDEzLjIiPiAgPHBhdGggZmlsbD0iI2ZmZiIgZD0iTTE0LjcuOGwtLjQtLjRhMS43IDEuNyAwIDAgMC0yLjMuMUw1LjIgOC4yIDMgNi40YTEuNyAxLjcgMCAwIDAtMi4zLjFMLjQgN2ExLjcgMS43IDAgMCAwIC4xIDIuM2wzLjggMy41YTEuNyAxLjcgMCAwIDAgMi40LS4xTDE1IDMuMWExLjcgMS43IDAgMCAwLS4yLTIuM3oiIGRhdGEtbmFtZT0iUGZhZCA0Ii8+PC9zdmc+);
  background-repeat: no-repeat;
  background-size: 13px;
  background-position: center;
}

.answer:hover label {
  background: var(--background-selected);
  color: var(--color-contrasted);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.answer:hover label:after {
  border-color: var(--color-contrasted);
  background: var(--background-selected);
}

input[type='radio']:focus + label {
  outline: 3px solid var(--outline);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

input[type='radio']:checked + label {
  background: var(--background-selected);
  color: var(--color-contrasted);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

input[type='radio']:checked + label:before {
  width: 20px;
  height: 20px;
}

input[type='radio']:checked + label:after {
  background: var(--background-selected);
  border-color: var(--background-selected);
}

.btn,
input[type='submit'] {
  display: block;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  background: var(--background-selected);
  color: var(--color-contrasted);
  text-decoration: none;
  font-size: 1.25rem;
  text-align: center;
}

.btn:hover,
input[type='submit']:hover,
.btn:focus,
input[type='submit']:focus {
  background: var(--background-selected-hover);
}

.btn:focus,
input[type='submit']:focus {
  outline: 3px solid black;
}

.question-title {
  margin-left: 1rem;
  margin-right: 1rem;
}

.submit-answer {
  margin-left: 1rem;
  margin-right: 1rem;
}

.login {
  text-align: left;
}

.login h1 {
  text-align: center;
}

@media (min-width: 1024px) {
  .login main {
    padding: 4rem;
    max-width: 250px;
  }
}

.login input:not([type='submit']) {
  display: block;
  margin: 0.5rem 0 1rem;
  border: none;
  padding: 0.25rem;
  width: 100%;
}

.logout {
  display: block;
  margin: 2rem 0 0;
  text-align: center;
}

.home {
  text-align: center;
}

.success {
  text-align: center;
}

/*
  Counter
*/
.progressbar {
  counter-reset: step;
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.progressbar li {
  list-style-type: none;
  width: 25%;
  float: left;
  font-size: 12px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-contrasted);
}

.progressbar li:before {
  width: 30px;
  height: 30px;
  content: counter(step);
  counter-increment: step;
  line-height: 30px;
  border: 2px solid #7d7d7d;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  background-color: var(--background-light);
}

.progressbar li:after {
  width: 100%;
  height: 2px;
  content: '';
  position: absolute;
  background-color: var(--background-light);
  top: 15px;
  left: -50%;
  z-index: -1;
}
.progressbar li:first-child:after {
  content: none;
}
.progressbar li.active,
.progressbar li.done {
  color: var(--color-contrasted);
}
.progressbar li.active:before,
.progressbar li.done:before {
  border-color: var(--background-selected);
  background: var(--background-selected);
}
.progressbar li.active + li:after,
.progressbar li.done + li:after {
  background-color: var(--background-selected);
}
