<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> Login </title>
  <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body class="login">
  <main>
    <form action="/login" method="post">
      <div class="title">
        <h1>Login</h1>
      </div>
      <label id="error-message"></label>
      <div class="field">
        <label>
          Username:
          <input type="text" name="username" required />
        </label>
      </div>
      <div class="field">
        <label>
          Password:
          <input type="password" name="password" required />
        </label>
      </div>
      <div class="field">
        <input class="submit-btn" type="submit" value="Entra" required />
      </div>
    </form>
  </main>

  <script>
    const urlParams = new URLSearchParams(window.location.search);
    const info = urlParams.get('info');

    if (info) {
      const errorMessage = document.getElementById("error-message");
      errorMessage.innerText = info;
      errorMessage.style.display = "block";
    }
  </script>
</body>
</html>