<!DOCTYPE html>
<html lang="en">
<head>
  <title>Come si chiamavano i due viaggiatori soccorsi dai nostri compagni? - Domanda 4 del Quiz</title>
  <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
  <div class="message-box">
    <form action="/question-4" method="POST">
      <h1 id="question">Come si chiamavano i due viaggiatori soccorsi dai nostri compagni?</h1>
      <fieldset aria-labelledby="question">
        <label for="answer-1">Belgo e il piccolo Baldor (detto il depresso)</label>
        <input type="radio" value="belgo-baldor" id="answer-1" name="question-4" />
        <label for="answer-2">Baldor e il piccolo Belgo (detto il depresso)</label>
        <input type="radio" value="baldor-belgo" id="answer-2" name="question-4" />
        <label for="answer-3">Legolas e il piccolo Gimli</label>
        <input type="radio" value="legolas-gimli" id="answer-3" name="question-4" />
      </fieldset>
      <input type="submit" value="Conferma" />
    </form>
    <a href="/quiz-question-2">Go back</a>
  </div>
</body>
</html>	