<!DOCTYPE html>
<html lang="en">
<head>
  <title>Quante volte Thorundor ha rotto le palle? - Domanda 2 del Quiz</title>
  <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
  <div class="message-box">
    <form action="/question-2" method="POST">
      <h1 id="question">Quante volte Thorundor ha rotto le palle?</h1>
      <fieldset aria-labelledby="question">
        <label for="answer-1">Nessuna, e' sempre stato molto utile</label>
        <input type="radio" value="0" id="answer-1" name="question-2" />
        <label for="answer-2">1 volta, quando non ci ha invitati dalla dama</label>
        <input type="radio" value="1" id="answer-2" name="question-2" />
        <label for="answer-3">Inenarrabili, come le bischerate che dice...</label>
        <input type="radio" value="100" id="answer-3" name="question-2" />
      </fieldset>
      <input type="submit" value="Conferma" />
    </form>
    <a href="/quiz-question-1">Go back</a>
  </div>
</body>
</html>	