<!DOCTYPE html>
<html lang="it">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Successo! Ecco il tuo regalo</title>
		<link rel="stylesheet" href="assets/css/styles.css">
	</head>

	<body>
		<div>
			<h1 id="welcome-message">Ottimo lavoro! Hai raggiunto il tuo regalo</h1>
			<p>Vuoi vedere il tuo regalo?</p>
			<img src="/assets/images/tremble1-web.webp" alt="Token di Tremble con uno sfondo verde" />

			<a href="/download" target="_blank" rel="noopener noreferrer">Scarica le immagini (zip)</a>
		</div>
	</body>
</html>