<!DOCTYPE html>
<html lang="it">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Successo! Ecco il tuo regalo</title>
		<link rel="stylesheet" href="assets/css/styles.css">
	</head>

	<body>
		<main class="success">
			<h1 id="welcome-message">Ottimo lavoro! 🎉<br />Hai raggiunto il tuo regalo</h1>
			
			<p>
				Abbiamo pensato che il miglior regalo fosse un bel ritratto del buon vecchio Tremble.
				<br />
				Speriamo che ti piaccia, puoi scaricare le versioni con e senza sfondo cliccando sul bottone sotto.
			</p>

			<img src="/assets/images/tremble1-web.webp" alt="Token di Tremble con uno sfondo verde" />

			<a class="btn" href="/download" target="_blank" rel="noopener noreferrer">Scarica le immagini (zip)</a>
			<a class="logout" href="/logout">Esci</a>
		</main>
	</body>
</html>