<!DOCTYPE html>
<html lang="it">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Successo! Ecco il tuo regalo</title>
		<link rel="stylesheet" href="assets/css/styles.css">
	</head>

	<body>
		<main>
			<h1 id="welcome-message">Ottimo lavoro!<br />Hai raggiunto il tuo regalo</h1>
			<p>Vuoi vedere il tuo regalo?</p>
			<img src="/assets/images/alat1-web.webp" alt="Token di Alatariel con uno sfondo verde" />
			
			<a class="btn" href="/download" target="_blank" rel="noopener noreferrer">Scarica le immagini (zip)</a>
			<a href="/logout">Esci</a>
		</main>
	</body>
</html>